p {
  padding : 2px;
  margin : 2px;
  -line-height : 20px;
}
.title {
  font-size : 30px;
}
.link {
  font-size: 10px;
}
.description {
  font-size: 15px;
}
.results {
  font-size: 10px;
}
.ad {
  color: #90ee90;
}
